.container {
    flex: 1;
    padding: 20px;
    border: 1px solid #d6d9e6;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

/* .container:hover{
    border-color: #02295a;
    background-color: #f8f9fe;
} */

.icon {
    width: 50px;
    height: 50px;
}

.text {
    font-size: 18px;
    font-weight: 600;
    color: hsl(213, 96%, 18%);
}

.amount {
    color: hsl(231, 11%, 63%);
    font-weight: 500;
}

.planText{
    margin-top: 40px;
}

@media only screen and (max-width: 600px) {
    .container{
        display: flex;
        align-items: center;
    }

    .planText{
        margin-left: 14px;
        margin-top: 0px;
    }
}