.container {
    padding: 26px;
    background-color: #f8f9fe;
    margin: 40px 0;
    border-radius: 14px;
}

.plan {
    color: hsl(213, 96%, 18%);
    font-size: 18px;
    font-weight: 600;
}

.change {
    text-decoration: underline;
    color: hsl(231, 11%, 63%);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.addOns{
    color: hsl(231, 11%, 63%);
    font-size: 16px;
}

.month {
    color: hsl(213, 96%, 18%);
    font-weight: 500;
}

.totalText{
    color: hsl(231, 11%, 63%);
    font-size: 16px;
}

.total{
    font-size: 24px;
    color: hsl(243, 100%, 62%);
}