.container {
    padding: 26px;
    background-color: #f8f9fe;
    margin: 40px 0;
    border-radius: 14px;
}

.plan {
    color: hsl(213, 96%, 18%);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.change {
    text-decoration: underline;
    color: hsl(231, 11%, 63%);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.addOns{
    color: hsl(231, 11%, 63%);
    font-size: 16px;
}

.month {
    color: hsl(213, 96%, 18%);
    font-weight: 500;
}

.totalText{
    color: hsl(231, 11%, 63%);
    font-size: 16px;
}

.total{
    font-size: 24px;
    color: hsl(243, 100%, 62%);
}

.confirm {
    position: absolute;
    top: 40px;
    bottom: 80px;
    left: 100px;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 20px 0;
    }

    .plan {
        font-size: 16px;
    }

    .addOns, .month, .change{
        font-size: 14px;
    }

    .total{
        font-size: 20px;
    }

    .confirm {
       position: static;
    }
    
}